@import "../../App.scss";

.about {
  height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 30rem;
  .about-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;

    .about-image-wrapper {
      * {
        width: 25% !important;
        top: 50%;
        left: 33%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: auto;
      }
      :nth-child(1) {
        z-index: 100;
        animation: image1 1s ease forwards;
      }
      :nth-child(2) {
        animation: image2 1s ease forwards;
      }
    }
    .about-introduce {
      padding-top: 15rem;
      width: 50%;
    }
  }
}

@keyframes image1 {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-53%, -53%);
  }
}

@keyframes image2 {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-48%, -48%);
  }
}
