@import "../../App.scss";
.project-card {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  margin-bottom: 1.25rem;
  .project-card-wrapper {
    margin-top: 7.5rem;
    .card-wrapper {
      margin-bottom: 6.25rem;
    }
    /* ------------------------------------ NEXITY CSS ------------------------------------ */
    .card-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .card__left {
        width: 430px;
        padding: 40px;
        background-color: $white;
        border: 5px solid $black;
        box-shadow: -5px 5px 0px $black;

        .card__left-text {
          margin-bottom: 30px;
          * {
            margin-bottom: 20px;
          }
          .left-text-title {
            font-size: $t-32;
            font-weight: $bold;
          }
          .left-text-description {
            font-size: 1rem;
          }
          .left-text-hashs {
            line-height: 150%;
            color: #c7c7c7;
          }
        }
        .card__left-btn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px 20px;

          width: 163px;

          background: $white;
          border: 1px solid #e1e1e1;
          border-radius: 30px;
          &:hover {
            background-color: $s-color;
            color: $white;
            border: 1px solid rgba($color: #000000, $alpha: 0);
            box-shadow: 0 10px 30px rgba($color: #000000, $alpha: 0.15);
          }
        }
      }
      .card__right {
        width: 590px;
        border: 5px solid $black;
        box-shadow: 5px 5px 0px $black;
      }
      .card__left__mobile {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .project-card {
    width: 100%;
    margin-bottom: 1.25rem;
    .project-card-wrapper {
      margin-top: 7.5rem;
      .card-wrapper {
        margin-bottom: 6.25rem;
      }
      /* ------------------------------------ NEXITY CSS ------------------------------------ */
      .card-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .card__left {
          display: none;
          width: 430px;
          padding: 40px;
          background-color: $white;
          border: 5px solid $black;
          box-shadow: -5px 5px 0px $black;

          .card__left-text {
            margin-bottom: 30px;
            * {
              margin-bottom: 20px;
            }
            .left-text-title {
              font-size: $t-32;
              font-weight: $bold;
            }
            .left-text-description {
              font-size: 1rem;
            }
            .left-text-hashs {
              line-height: 150%;
              color: #c7c7c7;
            }
          }
          .card__left-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;

            width: 163px;

            background: $white;
            border: 1px solid #e1e1e1;
            border-radius: 30px;
            &:hover {
              background-color: $s-color;
              color: $white;
              border: 1px solid rgba($color: #000000, $alpha: 0);
              box-shadow: 0 10px 30px rgba($color: #000000, $alpha: 0.15);
            }
          }
        }
        .card__right {
          width: 590px;
          border: 5px solid $black;
          box-shadow: 5px 5px 0px $black;
        }
        .card__left__mobile {
          padding: 20px;
          margin-top: 20px;
          width: 590px;
          display: block;
          background-color: $white;
          border: 5px solid $black;
          box-shadow: 5px 5px 0px $black;
          .card__left-text {
            margin-bottom: 20px;
            * {
              margin-bottom: 10px;
            }
            .left-text-title {
              font-size: $t-24;
              font-weight: $bold;
            }
            .left-text-description {
              font-size: 1rem;
            }
            .left-text-hashs {
              line-height: 150%;
              color: #c7c7c7;
            }
          }
          .card__left-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;

            width: 163px;
            background-color: $s-color;
            color: $white;
            border: 1px solid rgba($color: #000000, $alpha: 0);
            box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.15);
            border-radius: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
}
